$icon-font-path: "../node_modules/bootstrap-sass/assets/fonts/bootstrap/";
$primary: #0154a0;
$primary-hover: #01396e;
$danger: #a11912;
$danger-hover: #6e110c;
$success: #95a112;
$success-hover: #666e0c;
$secondary: #4a9eed;
$seconday-hover: #027ced;
$dark: #01396e;
$info: #027ced;
