<h1>Disponibilidad de laboratorios</h1>
<div class="container mt-3">
  <hr />
  <app-day-availability [dayId]="1" [dayName]="'Lunes'"></app-day-availability>
  <hr />
  <app-day-availability [dayId]="2" [dayName]="'Martes'"></app-day-availability>
  <hr />

  <app-day-availability
    [dayId]="3"
    [dayName]="'Miércoles'"
  ></app-day-availability>
  <hr />

  <app-day-availability [dayId]="4" [dayName]="'Jueves'"></app-day-availability>
  <hr />

  <app-day-availability
    [dayId]="5"
    [dayName]="'Viernes'"
  ></app-day-availability>
  <hr />
</div>
