<h1>Lista de Activos</h1>
<div>
  <button class="mb-3 btn btn-primary" (click)="open(content)">
    Añadir Activo
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover table-condensed text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tableSearch">
      <tr *ngFor="let asset of assets">
        <td>{{ asset.id }}</td>
        <td>{{ asset.nombre }}</td>
        <td>
          <a class="fa fa-trash fa-2x" (click)="delete(asset)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo activo</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form-group" [formGroup]="assetConfigForm">
    <div class="modal-body">
      <div class="form-row">
        <div class="form-group col">
          <label>Código</label>
          <input type="text" class="form-control" formControlName="id" />
          <div
            class="alert alert-danger"
            *ngIf="id.invalid && id.touched"
            role="alert"
          >
            Debe ingresar un código válido.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="descriptionAsset">Descripción</label>
          <textarea
            class="form-control"
            rows="5"
            formControlName="nombre"
          ></textarea>
          <div
            class="alert alert-danger"
            *ngIf="nombre.invalid && nombre.touched"
            role="alert"
          >
            Debe ingresar una descripción válida.
          </div>
        </div>
      </div>
    </div>
    <div class="modal-footer">
      <button
        type="button"
        class="btn btn-primary"
        (click)="postAsset()"
        [disabled]="assetConfigForm.invalid"
      >
        Guardar
      </button>
    </div>
  </form>
</ng-template>
