<h1>Gestión de Administradores</h1>
<div class="table-responsive">
  <table class="table table-hover table-condensed text-center">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Identificación</th>
        <th scope="col">Correo</th>
        <th scope="col">Permisos de Administrador</th>
      </tr>
    </thead>
    <tbody id="tableSearch">
      <tr *ngFor="let admin of admins">
        <td>{{ admin.nombreC }}</td>
        <td>{{ admin.cedula }}</td>
        <td>{{ admin.correo }}</td>
        <td>
          <div *ngIf="admin.aprobado">
            <input
              class="btn btn-success"
              id="btn{{ admin.cedula }}"
              type="button"
              value="Permitido"
              (click)="checkValue(admin.cedula)"
            />
          </div>
          <div *ngIf="!admin.aprobado">
            <input
              class="btn btn-danger"
              id="btn{{ admin.cedula }}"
              type="button"
              value="Denegado"
              (click)="checkValue(admin.cedula)"
            />
          </div>
        </td>
      </tr>
    </tbody>
  </table>
  <hr />
</div>
