<h1>Lista de Cursos</h1>
<div>
  <button class="mb-3 btn btn-primary" (click)="open(content)">
    Añadir Curso
  </button>
</div>
<div class="table-responsive">
  <table class="table table-hover table-condensed text-center">
    <thead>
      <tr>
        <th scope="col">Código</th>
        <th scope="col">Nombre</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody id="tableSearch">
      <tr *ngFor="let course of courses">
        <td>{{ course.codigo }}</td>
        <td>{{ course.nombre }}</td>
        <td>
          <a class="fa fa-trash fa-2x" (click)="delete(course)"></a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Nuevo Curso</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="addCourseForm" class="form-group">
      <div class="form-row">
        <div class="form-group col-md-12">
          <label for="codeAsset">Código</label>
          <input
            type="text"
            class="form-control"
            placeholder="Código del curso"
            formControlName="code"
          />
          <div
            class="alert alert-danger"
            *ngIf="code.invalid && code.touched"
            role="alert"
          >
            Debe ingresar un código válido.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="form-group col">
          <label for="nameCourse">Nombre</label>
          <input
            type="text"
            class="form-control"
            placeholder="Nombre del curso"
            formControlName="name"
          />
          <div
            class="alert alert-danger"
            *ngIf="name.invalid && name.touched"
            role="alert"
          >
            Debe ingresar un nombre válido.
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-primary"
      [disabled]="addCourseForm.invalid"
      (click)="post()"
    >
      Guardar
    </button>
  </div>
</ng-template>
